
@{
    ViewData["Title"] = "URLShortenerView";
    Layout = "_Layout";
}
<body>
    <h1>URL Shortener</h1>
    <form method="POST" >
        <label for="URL">URL:</label><br>
        <input type="text" id="URL" name="URL"><br>
        <input type="submit" value="Submit">
    </form>
</body>
